*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-heading:#F9F9F9;
    --text-body: #C8CDD0;

    --shape-hover:#383D42;
    --shape-button:#2D3136;
    --shape-body:#212427;
    --shape-background:#131516;

    --input-placeholder:#869198;
    --input-stroke:#363B40;
    --input-base:#1C1F21;

    --danger:#FF5959;

    --navy:#6A59FF;
    --cyan:#59FFF9;
    --green:#59FF91;
    --lime:#E1FF59;
    --yellow:#FFCD59;
    --orange:#FF8B59;
    --pink:#FF598B;
    --fuschia:#FF59F9;
    --purple:#B259FF;

    --brand-dark:#1D6FB6;
    --brand-mid:#3487CF;
    --brand-light:#59B2FF;

    --font-leckerli:"Leckerli One", system-ui;
    --logo-leckerli: 400 40px var(--font-leckerli);

    --font-baloo: "Baloo 2", system-ui;
    --heading-md: bold 28px var(--font-baloo);
    --heading-sm: bold 18px var(--font-baloo);

    --font-sans:"Open Sans", system-ui;
    --body-md:auto 16px var(--font-sans);
    --body-sm:400 14px var(--font-sans);
    --body-xs:400 14px/auto var(--font-sans);

}

body{
   background-color: var(--shape-background);
   overflow: hidden;
}